
  <h4>Report Summary Details</h4>
  <form [formGroup]="summaryForm">
  <!-- <h4 style="color: #333; text-align: center"> Please complete below listed pending steps! </h4> -->
  <div class="loader" *ngIf="Loader">
      <mat-spinner [color]="accent"></mat-spinner>
    </div>
  <div class="mat-form-checkfield">
    <label for="SurveyEarTagStatus">1. Claim Details:</label>
    <mat-radio-group formControlName="ClaimformStatus" id="ClaimformStatus" [(ngModel)]="ClaimformStatus">
      <mat-radio-button value="False" checked>No</mat-radio-button>
      <mat-radio-button value="True">Yes</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="mat-form-checkfield">
      <label for="DeadAnimalPhotoStatus">2. Dead Animal Photo:</label>
      <mat-radio-group formControlName="DeadAnimalPhotoStatus" id="DeadAnimalPhotoStatus" [(ngModel)]="DeadAnimalPhotoStatus">
        <mat-radio-button value="False" checked>No</mat-radio-button>
        <mat-radio-button value="True">Yes</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="mat-form-checkfield">
        <label for="IntactEarTagStatus">3. Intact Ear Tag:</label>
        <mat-radio-group formControlName="IntactEarTagStatus" id="IntactEarTagStatus" [(ngModel)]="IntactEarTagStatus">
          <mat-radio-button value="False" checked>No</mat-radio-button>
          <mat-radio-button value="True">Yes</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="mat-form-checkfield">
          <label for="PMReportStatus">4. PM Report:</label>
          <mat-radio-group formControlName="PMReportStatus" id="PMReportStatus" [(ngModel)]="PMReportStatus">
            <mat-radio-button value="False" checked>No</mat-radio-button>
            <mat-radio-button value="True">Yes</mat-radio-button>
          </mat-radio-group>
        </div>

  <div style="text-align: center; margin-top: 50px;">
    <button mat-raised-button matStepperPrevious>Back</button>
    <button mat-raised-button matStepperNext color="primary" style="margin-left: 10px;">Next</button>
  </div>
</form>
