h2{ font-size: 24px; color: #fff; font-weight: normal;}
.tabularData{
  margin:0 0 20px 0; padding: 20px; max-height: 500px; overflow: auto;
  .mat-raised-button{
    padding: 0px 12px!important;
    line-height: 26px;
    min-width: 40px;
  }
}