<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="loader" *ngIf="Loader">
  <mat-spinner [color]="accent"></mat-spinner>
</div>
<div class="container">
  <h2> Pre-Inspection Cattle Survey, Case No. : {{caseNo}}</h2>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step>
        <ng-template matStepLabel>Claim Details</ng-template>
        <app-claim-pre [stepper]="stepper"></app-claim-pre>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Animal Description</ng-template>
        <app-description [stepper]="stepper"></app-description>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Other Information</ng-template>
        <app-other-info [stepper]="stepper"></app-other-info>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Animal Image</ng-template>
        <app-animal-images [stepper]="stepper"></app-animal-images>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Multi Image Upload</ng-template>
        <app-multi-images [stepper]="stepper"></app-multi-images>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Inspecting officer Signature</ng-template>
        <app-signature [stepper]="stepper"></app-signature>
      </mat-step>
    </mat-horizontal-stepper>
</div>
