<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="loader" *ngIf="Loader">
    <mat-spinner [color]="accent"></mat-spinner>
</div>  

<div class="container">
  <h2>Users List <a  mat-raised-button color="accent" [routerLink] = "['/users/create']" style="float:right">Create User</a></h2>
  
  <div class="tabularData card">
    <table width="100%" class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>User Type</th>
        <th>Company Id</th>
        <th>Company Name</th>
        <th>Surveyor Id</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of TotalDada;let i = index;">
        <td>{{user.Name}}</td>
        <td>{{user.EmailId}}</td>
        <td>{{user.UserType}}</td>
        <td>{{user.CompanyId}}</td>
        <td>{{user.CompanyName}}</td>
        <td>{{user.SurveyorsId}}</td>
        <td>{{user.IsActive}}</td>
        <td>
          <mat-chip-list>           
            <mat-chip color="accent" selected="true" (click)="editUser(user.UserId)">Edit</mat-chip>
            <mat-chip color="warn" selected="true">Delete</mat-chip>
          </mat-chip-list>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <wizard-selector></wizard-selector> -->
