<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="loader" *ngIf="Loader">
    <mat-spinner [color]="accent"></mat-spinner>
</div>

<div class="container">
  <h2>Users List
    <a  mat-raised-button color="accent" [routerLink] = "['/users/0']" style="float:right">Create User</a>
    <input [(ngModel)]="searchText" class="searchTextBox" placeholder="Search..." />
  </h2>

  <div class="tabularData card">
    <table width="100%" class="table">
      <thead>
      <tr>
        <th width="5%">S. No.</th>
        <th width="20%">Name</th>
        <th width="20%">Email</th>
        <th width="10%">User Type</th>
        <!-- <th>Company Id</th> -->
        <th width="20%">Company/Surveyor Name</th>
        <!-- <th>Surveyor Id</th> -->
        <th width="5%">Active</th>
        <th width="20%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of TotalDada | dashboardSearch: searchText ;let i = index;">
          <td>{{i+1}}</td>
        <td>{{user.Name}}</td>
        <td>{{user.EmailId}}</td>
        <td>{{user.UserType}}</td>
        <!-- <td>{{user.CompanyId}}</td> -->
        <td>{{user.CompanyName}}</td>
        <!-- <td>{{user.SurveyorsId}}</td> -->
        <td>{{user.IsActive}}</td>
        <td>
          <mat-chip color="accent" selected="true" (click)="editUser(user.UserId)">Edit</mat-chip>
          <mat-chip color="warn" selected="true" (click)="openDeleteModal(user.UserId);" >Delete</mat-chip>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <wizard-selector></wizard-selector> -->
<div class="backdrop" *ngIf="isDeleteModal">
  <div class="tabularData card smallModal" style=" margin-left: -175px; width: 350px; min-height: 190px;">
    <h2 style="color:#000; text-align:left; font-size: 18px;">User Delete Confirmation !</h2>
    <hr style="margin-bottom: 10px; "/>
    <br/>
    <div class="alert error" style="width: auto; padding: 0 10px;">
      <p style="font-weight: normal">Do you want to delete this User?</p>
    </div><br/><br/>

    <button mat-raised-button style="float:left;" (click)="closeDeleteModal();">
      Cancel
    </button>
    <button mat-raised-button color="warn"openDeleteModal  (click)="deleteUser(deleteUserId);" style="float:right;">
      Delete User
    </button>
  </div>
</div>
