<form [formGroup]="claimForm">
  <h4>Claim Details</h4>
  <div class="loader" *ngIf="Loader">
      <mat-spinner [color]="accent"></mat-spinner>
    </div>
  <mat-form-field>
    <input matInput placeholder="Policy No." formControlName="PolicyNo" (keydown)="specialCharPrevention($event)">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ear Tag No." formControlName="EarTagNo" (keydown)="specialCharPrevention($event)">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Schedule No." formControlName="ScheduleNo" (keydown)="specialCharPrevention($event)">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="SL No." formControlName="SLNo" (keydown)="specialCharPrevention($event)">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Insured Name" formControlName="InsuredName" (keydown)="specialCharPrevention($event)">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Insured Address" formControlName="InsuredAddress" (keydown)="specialCharPrevention($event)">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Village" formControlName="Village" (keydown)="specialCharPrevention($event)">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Intimation Date" formControlName="IntimationDate" format="DD/MM/YYYY HH:mm"  [matDatepicker]="IntimationDate">
    <mat-datepicker-toggle matSuffix [for]="IntimationDate"></mat-datepicker-toggle>
    <mat-datepicker #IntimationDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Intimation Time" formControlName="IntimationTime">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Intimation Location" formControlName="IntimationLocation" (keydown)="specialCharPrevention($event)">
  </mat-form-field>

  <div class="mat-form-checkfield">
    <label for="DelayInIntimation">Is There Delay InIntimation?</label>
    <mat-radio-group formControlName="DelayInIntimation" id="DelayInIntimation" [(ngModel)]="DelayInIntimation">
      <mat-radio-button value="False" checked>No</mat-radio-button>
      <mat-radio-button value="True">Yes</mat-radio-button>
    </mat-radio-group>
  </div>


  <div style="text-align: center; margin-top: 50px;">
    <div class="alert success" *ngIf="showSuccess">Data Saved {{successMessage}}fully.</div>
    <div class="alert error" *ngIf="showError">Data Saved {{errorMessage}}.</div>

    <button mat-raised-button matStepperNext>Skip</button>
    <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="claimSubmit(claimForm.value);">Next</button>
  </div>
</form>
