.mat-form-field{
    width: 40%;
    margin: 0 45px;
    display: inline-block;
    position: relative;
    text-align: left;
}
.card{
   padding-top: 50px;
    background-color: rgb(255, 255, 255)!important;
}
