<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="loader" *ngIf="Loader">
    <mat-spinner [color]="accent"></mat-spinner>
</div>
<div class="container">
  <h2>Create Users</h2>

  <div class="tabularData card">

    <div *ngIf="showSuccess" class="alert success">
      User created/Updated {{successMessage}}fully.
    </div>
    <div *ngIf="showError" class="alert error">
      User created/Updated {{errorMessage}}.
    </div>
    <form [formGroup]="myForm">

      <mat-form-field>

        <input type="text" matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched">Name is required.</mat-error>
        <mat-error *ngIf="myForm.controls['name'].hasError('pattern') && myForm.controls['name'].touched">Name should contain string and digits.</mat-error>

      </mat-form-field>


        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched">Email is required.</mat-error>
          <mat-error *ngIf="myForm.controls['email'].hasError('pattern') && myForm.controls['email'].touched">Please Enter valid email.</mat-error>
        </mat-form-field>




        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="myForm.controls['password'].hasError('required') && myForm.controls['password'].touched">Password is required.</mat-error>
          <mat-error *ngIf="myForm.controls['password'].hasError('pattern') && myForm.controls['password'].touched">Whitespace not allowed.</mat-error>
          <mat-error *ngIf="myForm.controls['password'].hasError('minlength') && myForm.controls['password'].touched">Password length can't be less than 5.</mat-error>

        </mat-form-field>




        <mat-form-field>
          <mat-select placeholder="User Type" formControlName="userType" (change)="getUserType($event.value);">
            <mat-option [value]="1">
              Admin
            </mat-option>
            <mat-option [value]="2">
              Company User
            </mat-option>
            <mat-option [value]="3">
              Surveyor-Admin
            </mat-option>
            <mat-option [value]="4">
                Surveyor-SubUser
              </mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.controls['userType'].hasError('required') && myForm.controls['userType'].touched">User Type is required</mat-error>
        </mat-form-field>




        <mat-form-field>
          <mat-select placeholder="Company" formControlName="company" [disabled]="companyDisabled">
              <mat-option *ngFor="let item of companyListData" [value]="item.CompanyId">
                {{item.Name}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.controls['company'].hasError('required') && myForm.controls['company'].touched">Company is required</mat-error>
        </mat-form-field>



        <mat-form-field>
          <mat-select placeholder="Surveyor" formControlName="surveyorsId" [disabled]="surveyorDisabled">
              <mat-option *ngFor="let item of surveyorList" [value]="item.SurveyorsId">
                {{item.Name}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.controls['surveyorsId'].hasError('required') && myForm.controls['surveyorsId'].touched">Surveyor is required</mat-error>
        </mat-form-field>


        <mat-form-field>
          <mat-select placeholder="User Active" formControlName="isActive" ([ngModel])="isActive">
            <mat-option [value]="true">
              True
            </mat-option>
            <mat-option [value]="false">
              false
            </mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.controls['isActive'].hasError('required') && myForm.controls['isActive'].touched">Active is required</mat-error>
        </mat-form-field>


      <div style="text-align: center; margin-top: 50px; ">
          <a mat-raised-button style="color: #333;" type="button" routerLink="/users" >Cancel</a>
          <button mat-raised-button color="primary" (click)="onSubmit(myForm)" mat-button [disabled]="myForm.invalid">Submit</button>
      </div>

    </form>

  </div>
</div>
<!-- <wizard-selector></wizard-selector> -->
