<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="loader" *ngIf="Loader">
  <mat-spinner [color]="accent"></mat-spinner>
</div>
<div class="container">
  <h2> Pre-Inspection Survey, Case No. : {{20}}</h2>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>Claim Details</ng-template>
      <app-claim></app-claim>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Inspection Details</ng-template>
      <app-inspection></app-inspection>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Proof Identification</ng-template>
      <app-proof></app-proof>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Animal Images</ng-template>
      <app-animal-images></app-animal-images>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Inquary Info Part 1</ng-template>
      <app-inquary-one></app-inquary-one>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Inquary Info Part 2</ng-template>
      <app-inquary-second></app-inquary-second>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Report Summary</ng-template>
      <app-report-summary></app-report-summary>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Inspecting officer Signature</ng-template>
      <app-signature></app-signature>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
