<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="loader" *ngIf="Loader">
    <mat-spinner [color]="accent"></mat-spinner>
</div>
<div class="container">
  <h2>Create Area</h2>

  <div class="tabularData card">
    <div *ngIf="showSuccess" class="alert success">
      Area Created/Updated {{successMessage}}fully.
    </div>
    <div *ngIf="showError" class="alert error">
      {{errorMessage}}
    </div>
    <form [formGroup]="myForm">
      <mat-form-field style="margin: 0 30%;">
        <input matInput placeholder="Ente Area Name" formControlName="name" (keydown)="specialCharPrevention($event)">
        <mat-error *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched">Area Name is required.</mat-error>
      </mat-form-field>



      <div style="text-align: center; margin-top: 50px;">
          <a mat-raised-button style="color: #333;" type="button" routerLink="/area" >Cancel</a>
          <button mat-raised-button color="primary" (click)="onSubmit(myForm.value)" mat-button [disabled]="myForm.invalid">Submit</button>
      </div>
    </form>

  </div>
</div>
<!-- <wizard-selector></wizard-selector> -->
