<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="container">
  <h2>Create Area</h2>

  <div class="tabularData card">
    <div *ngIf="showSuccess" class="alert success">
      {{successMessage}}
    </div>
    <div *ngIf="showError" class="alert error">
      {{errorMessage}}
    </div>
    <form [formGroup]="myForm">
      <mat-form-field style="margin: 0 30%;">
        <input matInput placeholder="Name" formControlName="name" >
        <mat-error *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched">Name is required</mat-error>
        <mat-error *ngIf="myForm.controls['name'].hasError('pattern') && myForm.controls['name'].touched">Name should contain string and digits</mat-error>
      </mat-form-field>



      <div style="text-align: center; margin-top: 50px;">
          <button mat-raised-button style="color: #333;" type="button" >Cancel</button>
          <button mat-raised-button color="primary" (click)="onSubmit(myForm.value)" mat-button [disabled]="myForm.invalid">Submit</button>
      </div>
    </form>

  </div>
</div>
<!-- <wizard-selector></wizard-selector> -->
