.mat-form-field{
    width: 40%;
    margin: 0 45px;
    display: inline-block;
    position: relative;
    text-align: left;
    float: left;
}

.card{
    background-color: rgba(255, 255, 255, 0.8)!important;
}