<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="loader" *ngIf="Loader">
    <mat-spinner [color]="accent"></mat-spinner>
</div>
<div class="container">
  <h2>Companies <a mat-raised-button color="accent" [routerLink] = "['/companies/0']" style="float:right">Create Company </a></h2>

  <div class="tabularData card">
    <table width="100%" class="table">
      <thead>
      <tr>
          <th width="5%">S. No.</th>
        <!-- <th>Company Id</th> -->
        <th width="25%">Name</th>
        <th width="25%">Address</th>
        <th width="10%">Contact</th>
        <th width="10%">Company Nos</th>
        <th width="10%">Company Type</th>
        <th width="15%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let company of TotalDada;let i = index;">
        <td>{{i+1}}</td>
        <!-- <td>{{company.CompanyId}}</td> -->
        <td>{{company.Name}}</td>
        <td>{{company.Address}}</td>
        <td>{{company.Contact}}</td>
        <td>{{company.CompanyNos}}</td>
        <td>{{company.CompanyType}}</td>
        <td>
          <mat-chip color="accent" selected="true" (click)="editCompany(company.CompanyId)">Edit</mat-chip>
          <mat-chip color="warn" selected="true">Delete</mat-chip>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <wizard-selector></wizard-selector> -->
