<h4>Inspecting officer signature</h4>
<div class="tabularData card" style="width:50%; margin-left: 23%;">
    <div class="loader" *ngIf="Loader">
        <mat-spinner [color]="accent"></mat-spinner>
      </div>
  <h5>Upload Digital Signature</h5>
  <img alt="" [src]="animalImageUrl" style="min-height: 200px; max-height: 250px; max-width: 400px;" />
  <input type="file" name="" id=""  (change)="postImage($event, 'SPDSG')" class="custom-file-input" *ngIf="!IsCompleted" />
</div>

<div style="text-align: center; margin-top: 50px;">
    <button mat-raised-button matStepperPrevious color="primary" style="margin-left: 10px;">Previous</button>
    <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="openDialog();">Complete Case</button>
  </div>

