<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="container">
  <h2> Spot Survey, CaseId : {{caseId}}</h2>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" (ngSubmit)="firstStepSubmit(firstFormGroup.value);">
        <ng-template matStepLabel>Claim form</ng-template>
        <h4>Claim Details</h4>
        <mat-form-field>
          <input matInput placeholder="Claim No." formControlName="claimNo" >
        </mat-form-field>
        <div class="mat-form-checkfield">
          <label>Policy Picture</label>
          <input type="file" name="file" id="file" (change)="onFileChanged($event)" />
          <img  alt="" id="imageUrl" [src]="imageToShow" />

        </div>
        <mat-form-field>
          <input matInput placeholder="Policy No." formControlName="policyNo">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Insured's Name" formControlName="InsuredName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Insured's Address" formControlName="InsuredAddress">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="insured's Mobile No." formControlName="InsuredMobile">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Insured's Email id" formControlName="EmailID">
        </mat-form-field>
        <div style="text-align: center; margin-top: 50px;">
          <div class="alert success" *ngIf="showSuccess" >Data Saved {{successMessage}}fully.</div>
          <div class="alert error" *ngIf="showError">Data Saved {{errorMessage}}.</div>
          <button mat-raised-button  matStepperNext >Skip</button>
          <button mat-raised-button color="primary" style="margin-left: 10px;" type="submit" [disabled]="firstFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" (ngSubmit)="secondStepSubmit(secondFormGroup.value);">
        <ng-template matStepLabel>Surveyor</ng-template>
        <h4>Surveyor Details</h4>
        <mat-form-field>
          <input matInput placeholder="Surveyor Name" formControlName="SurveyorsName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date of Allotment of Survey" formControlName="DateofAllotmentofsurvey" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date of Survey" formControlName="DateofSurvey" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Place Of Survey" formControlName="SurveyLocation" required>
        </mat-form-field>
        <div style="text-align: center; margin-top: 50px;">
            <div class="alert success" *ngIf="showSuccess" >Data Saved {{successMessage}}fully.</div>
            <div class="alert error" *ngIf="showError">Data Saved {{errorMessage}}.</div>
            <button mat-raised-button  matStepperNext >Skip</button>
            <button mat-raised-button color="primary" style="margin-left: 10px;" type="submit" [disabled]="secondFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup" (ngSubmit)="thirdStepSubmit(thirdFormGroup.value);">
          <ng-template matStepLabel>Vehicle</ng-template>
          <h4>Vehicle Details</h4>
          <mat-form-field>
            <input matInput placeholder="Registration No" formControlName="Registration_No" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Chasis No" formControlName="ChasisNo" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Engine No" formControlName="EngineNo" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Make" formControlName="Make" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Model" formControlName="Model" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Manufacture of Year" formControlName="MgfYear" required>
          </mat-form-field>
          <div style="text-align: center; margin-top: 50px;">
            <div class="alert success" *ngIf="showSuccess" >Data Saved {{successMessage}}fully.</div>
            <div class="alert error" *ngIf="showError">Data Saved {{errorMessage}}.</div>
            <button mat-raised-button  matStepperNext >Skip</button>
            <button mat-raised-button color="primary" style="margin-left: 10px;" type="submit" [disabled]="thirdFormGroup.invalid">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup" (ngSubmit)="fourthSubmit(fourthFormGroup.value)">
          <ng-template matStepLabel>Driver</ng-template>
          <h4>Driver Details</h4>
          <mat-form-field>
            <input matInput placeholder="Driver Name" formControlName="Drivername">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Driver License Number" formControlName="DriverLicenseNo">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Expiry Date" formControlName="ValidUptoDate">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Issue Date" formControlName="IssueDate">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Date Of Birth" formControlName="DOB">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Driver Age" formControlName="Age">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Type Of License" formControlName="TypeOfLicense">
          </mat-form-field>

          <div style="text-align: center; margin-top: 50px;">
            <div class="alert success" *ngIf="showSuccess" >Data Saved {{successMessage}}fully.</div>
            <div class="alert error" *ngIf="showError">Data Saved {{errorMessage}}.</div>
            <button mat-raised-button  matStepperNext type="text" >Skip</button>
            <button mat-raised-button style="margin-left: 10px;" color="primary" type="submit" [disabled]="fourthFormGroup.invalid">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup" (ngSubmit)="fifthSubmit(fifthFormGroup.value)">
          <ng-template matStepLabel>Accident</ng-template>
          <h4>Accident Details</h4>
          <mat-form-field>
            <input matInput placeholder="Accident Date" formControlName="AccidentDate">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Accident Place" formControlName="AccidentPlace">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Cause of Lost" formControlName="CauseofLoss"></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Upload Claim Form/Statement" formControlName="FIRDDR">
          </mat-form-field>
          <div style="text-align: center; margin-top: 50px;">
            <div class="alert success" *ngIf="showSuccess" >Data Saved {{successMessage}}fully.</div>
            <div class="alert error" *ngIf="showError">Data Saved {{errorMessage}}.</div>
            <button mat-raised-button  matStepperNext >Skip</button>
            <button mat-raised-button style="margin-left: 10px;" color="primary" type="submit" [disabled]="fifthFormGroup.invalid">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sixthFormGroup">
        <form [formGroup]="sixthFormGroup" (ngSubmit)="sixthSubmit(sixthFormGroup.value);">
          <ng-template matStepLabel>Police FIR</ng-template>          
          <div class="mat-form-checkfield">
            <label>Injury to Driver: </label>
            <mat-radio-group formControlName="InjuryToDriver" >
              <mat-radio-button value="yes" [checked]="false">Yes</mat-radio-button>
              <mat-radio-button value="no"  [checked]="true">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="mat-form-checkfield">
            <label>Injury to Cleaner: </label>
            <mat-radio-group formControlName="InjuryToCleaner">
                <mat-radio-button value="yes" [checked]="false">Yes</mat-radio-button>
                <mat-radio-button value="no"  [checked]="true">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="mat-form-checkfield">
            <label>Injury to Other Occupants: </label>
            <mat-radio-group formControlName="InjuryToOtherOccupants">
                <mat-radio-button value="yes" [checked]="false">Yes</mat-radio-button>
                <mat-radio-button value="no"  [checked]="true">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <input matInput placeholder="Hospital Details" formControlName="HospitalDetails">
          </mat-form-field>
          <div class="mat-form-checkfield">
            <label>Accident Third Party Property Damages: </label>
            <mat-radio-group formControlName="ThirdPartyPropertyDamages">
                <mat-radio-button value="yes" [checked]="false">Yes</mat-radio-button>
                <mat-radio-button value="no"  [checked]="true">No</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave a Remarks" formControlName="Remarks"></textarea>
          </mat-form-field>
          
          <div style="text-align: center; margin-top: 50px;">
              <button mat-raised-button  matStepperNext>Skip</button>
              <button mat-raised-button style="margin-left: 10px;" color="primary" type="submit">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="seventhFormGroup">
        <form [formGroup]="seventhFormGroup">
          <ng-template matStepLabel>Crash Images</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="seventhCtrl" required>
          </mat-form-field>
          <div>
              <button mat-raised-button  matStepperNext >Skip</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="eightthFormGroup">
        <form [formGroup]="eightthFormGroup">
          <ng-template matStepLabel>Damage Details</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="eightthCtrl" required>
          </mat-form-field>
          <div>
              <button mat-raised-button  matStepperNext >Skip</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="ninethFormGroup">
        <form [formGroup]="ninethFormGroup">
          <ng-template matStepLabel>Report Summary</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="ninethCtrl" required>
          </mat-form-field>
          <div>
              <button mat-raised-button  matStepperNext >Skip</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="tenthFormGroup">
        <form [formGroup]="tenthFormGroup">
          <ng-template matStepLabel>Digital Signature</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="tenthCtrl" required>
          </mat-form-field>
          <div>
              <button mat-raised-button  matStepperNext >Skip</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

  </mat-horizontal-stepper>
</div>  