<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="container">
  <h2> Spot Survey, CaseId : {{caseId}}</h2>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" >
        <ng-template matStepLabel>Claim form</ng-template>
        <h4>Claim Details</h4>
        <mat-form-field>
          <input matInput placeholder="Claim No." formControlName="claimNo" >
        </mat-form-field>
        <div class="mat-form-checkfield">
          <label>Policy Picture</label>
          <input type="file" name="file" id="file" (change)="onFileChanged0($event)" class="custom-file-input"/>
          <img  alt="" id="imageUrl" [src]="imageToShow" />

        </div>
        <mat-form-field>
          <input matInput placeholder="Policy No." formControlName="policyNo">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Insured's Name" formControlName="InsuredName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Insured's Address" formControlName="InsuredAddress">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="insured's Mobile No." formControlName="InsuredMobile" type="number">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Insured's Email id" formControlName="EmailID" type="email">
        </mat-form-field>
        <div style="text-align: center; margin-top: 50px;">
          <div class="alert success" *ngIf="showSuccess" >Data Saved {{successMessage}}fully.</div>
          <div class="alert error" *ngIf="showError">Data Saved {{errorMessage}}.</div>
          <button mat-raised-button  matStepperNext >Skip</button>
          <button mat-raised-button color="primary" style="margin-left: 10px;"
           (click)="firstStepSubmit(firstFormGroup.value);" [disabled]="firstFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" >
        <ng-template matStepLabel>Surveyor</ng-template>
        <h4>Surveyor Details</h4>
        <mat-form-field>
          <input matInput placeholder="Surveyor Name" formControlName="SurveyorsName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date of Allotment of Survey" formControlName="DateofAllotmentofsurvey"  [matDatepicker]="picker1" required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date of Survey" formControlName="DateofSurvey" required  [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Place Of Survey" formControlName="SurveyLocation" required>
        </mat-form-field>
        <div style="text-align: center; margin-top: 50px;">
            <div class="alert success" *ngIf="showSuccess" >Data Saved {{successMessage}}fully.</div>
            <div class="alert error" *ngIf="showError">Data Saved {{errorMessage}}.</div>
            <button mat-raised-button  matStepperNext>Skip</button>
            <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="secondStepSubmit(secondFormGroup.value);"
             [disabled]="secondFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Vehicle</ng-template>
          <h4>Vehicle Details</h4>
          <mat-form-field>
            <input matInput placeholder="Registration No" formControlName="Registration_No" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Chasis No" formControlName="ChasisNo" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Engine No" formControlName="EngineNo" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Make" formControlName="Make" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Model" formControlName="Model" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Manufacture of Year" formControlName="MgfYear" required  [matDatepicker]="picker3">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
          <div style="text-align: center; margin-top: 50px;">
            <div class="alert success" *ngIf="showSuccess" >Data Saved {{successMessage}}fully.</div>
            <div class="alert error" *ngIf="showError">Data Saved {{errorMessage}}.</div>
            <button mat-raised-button  matStepperNext >Skip</button>
            <button mat-raised-button color="primary" style="margin-left: 10px;"  (click)="thirdStepSubmit(thirdFormGroup.value);"
            [disabled]="thirdFormGroup.invalid">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Driver</ng-template>
          <h4>Driver Details</h4>
          <mat-form-field>
            <input matInput placeholder="Driver Name" formControlName="Drivername">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Driver License Number" formControlName="DriverLicenseNo">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Expiry Date" formControlName="ValidUptoDate"  [matDatepicker]="picker4">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Issue Date" formControlName="IssueDate"  [matDatepicker]="picker5">
            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Date Of Birth" formControlName="DOB"  [matDatepicker]="picker6">
            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
            <mat-datepicker #picker6></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Driver Age" formControlName="Age">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Type Of License" formControlName="TypeOfLicense">
          </mat-form-field>

          <div style="text-align: center; margin-top: 50px;">
            <div class="alert success" *ngIf="showSuccess" >Data Saved {{successMessage}}fully.</div>
            <div class="alert error" *ngIf="showError">Data Saved {{errorMessage}}.</div>
            <button mat-raised-button  matStepperNext>Skip</button>
            <button mat-raised-button style="margin-left: 10px;" color="primary" (click)="fourthSubmit(fourthFormGroup.value);"
             [disabled]="fourthFormGroup.invalid">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup" >
          <ng-template matStepLabel>Accident</ng-template>
          <h4>Accident Details</h4>
          <mat-form-field>
            <input matInput placeholder="Accident Date" formControlName="AccidentDate"  [matDatepicker]="picker7">
            <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
            <mat-datepicker #picker7></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Accident Place" formControlName="AccidentPlace">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Cause of Lost" formControlName="CauseofLoss"></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Upload Claim Form/Statement" formControlName="FIRDDR">
          </mat-form-field>
          <div style="text-align: center; margin-top: 50px;">
            <div class="alert success" *ngIf="showSuccess" >Data Saved {{successMessage}}fully.</div>
            <div class="alert error" *ngIf="showError">Data Saved {{errorMessage}}.</div>
            <button mat-raised-button  matStepperNext >Skip</button>
            <button mat-raised-button style="margin-left: 10px;" color="primary" (click)="fifthSubmit(fifthFormGroup.value)"
            [disabled]="fifthFormGroup.invalid">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sixthFormGroup">
        <form [formGroup]="sixthFormGroup" >
          <h4>FIR Details</h4>
          <ng-template matStepLabel>Police FIR</ng-template>          
          <div class="mat-form-checkfield">
            <label>Injury to Driver: </label>
            <mat-radio-group formControlName="InjuryToDriver" >
              <mat-radio-button value="yes">Yes</mat-radio-button>
              <mat-radio-button value="no" checked>No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="mat-form-checkfield">
            <label>Injury to Cleaner: </label>
            <mat-radio-group formControlName="InjuryToCleaner">
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no" checked>No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="mat-form-checkfield">
            <label>Injury to Other Occupants: </label>
            <mat-radio-group formControlName="InjuryToOtherOccupants">
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no" checked>No</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <input matInput placeholder="Hospital Details" formControlName="HospitalDetails">
          </mat-form-field>
          <div class="mat-form-checkfield">
            <label>Accident Third Party Property Damages: </label>
            <mat-radio-group formControlName="ThirdPartyPropertyDamages">
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no" checked>No</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave a Remarks" formControlName="Remarks"></textarea>
          </mat-form-field>
          
          <div style="text-align: center; margin-top: 50px;">
              <button mat-raised-button  matStepperNext>Skip</button>
              <button mat-raised-button style="margin-left: 10px;" color="primary" (click)="sixthSubmit(sixthFormGroup.value);" 
              [disabled]="sixthFormGroup.invalid">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="seventhFormGroup">
        <form [formGroup]="seventhFormGroup">
          <ng-template matStepLabel>Crash Images</ng-template>
          <h4>Crash Images Details</h4>
          <div class="tabularData card">
            <h5>Upload Front Image</h5>            
            <img  alt="" [src]="imageToShow1" />
            <input type="file" name="" id="" (change)="onFileChanged1($event)" class="custom-file-input"  />
          </div>
          <div class="tabularData card">
            <h5>Upload Back Image</h5>
            <img  alt="" [src]="imageToShow2" />
            <input type="file" name="" id="" (change)="onFileChanged2($event)" class="custom-file-input"  />
          </div>
          <div class="tabularData card">
            <h5>Upload Left Front Image</h5>
            <img  alt="" [src]="imageToShow3" />
            <input type="file" name="" id="" (change)="onFileChanged3($event)" class="custom-file-input"  />
          </div>
            <div class="tabularData card">
              <h5>Upload Left Image</h5>
              <img  alt="" [src]="imageToShow4" />
              <input type="file" name="" id="" (change)="onFileChanged4($event)" class="custom-file-input"  />
            </div>
            <div class="tabularData card">
              <h5>Upload Left Rear Image</h5>
              <img  alt="" [src]="imageToShow5" />
            <input type="file" name="" id="" (change)="onFileChanged5($event)" class="custom-file-input"  />
            </div>
            <div class="tabularData card">
              <h5>Upload Right Front Image</h5>
              <img  alt="" [src]="imageToShow6" />
            <input type="file" name="" id="" (change)="onFileChanged6($event)" class="custom-file-input"  />
            </div>
            <div class="tabularData card">
              <h5>Upload Right Image</h5>
              <img  alt="" [src]="imageToShow7" />
            <input type="file" name="" id="" (change)="onFileChanged7($event)" class="custom-file-input"  />
            </div>
            <div class="tabularData card">
              <h5>Upload Right Rear Image</h5>
              <img  alt="" [src]="imageToShow8" />
            <input type="file" name="" id="" (change)="onFileChanged8($event)" class="custom-file-input"  />
            </div>
          <div style="text-align: center; margin-top: 50px;">
            <button mat-raised-button  matStepperNext >Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="eightthFormGroup">
          <form [formGroup]="eightthFormGroup">
            <ng-template matStepLabel>Damage Details</ng-template>
            <h4>Damage Details <button mat-raised-button color="primary" (click)="getDamagePartList()" style="float: right;">Add Part</button></h4>
            <div style="max-height: 400px; overflow: auto;"  *ngIf="damageDetailsData.length > 0">                   
                <mat-list role="list"  *ngFor="let data of damageDetailsData">
                  <mat-list-item role="listitem" >
                    <p><b>PartName:</b>data.PartName</p>
                    <p><b>PartStatus:</b>data.PartStatus</p>
                    <p><b>PartRemark:</b>data.PartRemark</p>
                  </mat-list-item>               
                </mat-list> 
            </div> 
            <p  *ngIf="damageDetailsData.length < 1" style="text-align: center; padding:0 20px;">No Damaged parts are available !</p> 
            <div style="max-height: 450px; overflow: auto;"  *ngIf="damagePartList.length > 0">
                
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel  hideToggle="true"  *ngFor="let item of damagePartList; let i = index;">
                    
                    <mat-expansion-panel-header (click)="showdamageListData(damagePartList[i]);">
                      <mat-panel-title>
                         Part Name: &nbsp; {{item.PartName}}
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                        Type the country name
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    
                   
                      <input  formControlName="CaseID"  value="{{item.CaseID}}" style="display: none">
                    
                      <input  formControlName="PartType" value="{{item.PartType}}" style="display: none">
                   
                      <input  formControlName="PartID" value="{{item.PartID}}" style="display: none">
                    
                      <input  formControlName="PartName" value="{{item.PartName}}" style="display: none">
                    
                      <input  formControlName="PartStatusID" value="{{item.PartStatusID}}" style="display: none">
                    
    
    
                    <mat-radio-group style="width: 40%; margin: 0 45px;" formControlName="PartStatus">
                      <mat-radio-button value="1" checked>Safe</mat-radio-button>
                      <mat-radio-button value="2">Scratched</mat-radio-button>
                      <mat-radio-button value="3">Dented</mat-radio-button>
                      <mat-radio-button value="4">Broken</mat-radio-button>
                    </mat-radio-group><br/><br/>
                    <mat-form-field>
                      <textarea matInput placeholder="Part Remark" formControlName="PartRemark"></textarea>
                    </mat-form-field>
                
                    <mat-action-row >
                      <button mat-raised-button color="primary" (click)="eightthStepSubmit(eightthFormGroup.value)">Save</button>
                    </mat-action-row>
                    
                  </mat-expansion-panel>
                </mat-accordion>
              
            </div>
    
            <div style="text-align: center; margin-top: 50px;">
              <button mat-raised-button  matStepperNext style="margin-right: 10px;">Skip</button>
            </div>
          </form>
        </mat-step>

      <mat-step [stepControl]="ninethFormGroup">
        <form [formGroup]="ninethFormGroup">
          <ng-template matStepLabel>Report Summary</ng-template>
          <h4>Report Summary Details</h4>
          <div class="tabularData card">
            <h5>Claim Form</h5>  
            <mat-radio-group formControlName="Claimform">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No" checked>No</mat-radio-button>
            </mat-radio-group>          
            <img  alt="" [src]="imageToShow10" />
            <input type="file" name="" id="" (change)="onFileChanged10($event)" class="custom-file-input"  />
          </div>
          <div class="tabularData card">
            <h5>Survey Fees Bill</h5>
            <mat-radio-group formControlName="Surveyfeesbil">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No" checked>No</mat-radio-button>
              </mat-radio-group>
            <img  alt="" [src]="imageToShow11" />
            <input type="file" name="" id="" (change)="onFileChanged11($event)" class="custom-file-input"  />
          </div>
          <div class="tabularData card">
            <h5>KYC Doc Identity</h5>
            <mat-radio-group formControlName="kycdocidentity">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No" checked>No</mat-radio-button>
              </mat-radio-group>
            <img  alt="" [src]="imageToShow12" />
            <input type="file" name="" id="" (change)="onFileChanged12($event)" class="custom-file-input"  />
          </div>
            <div class="tabularData card">
              <h5>KYC Address </h5>
              <mat-radio-group formControlName="kycdocaddress">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No" checked>No</mat-radio-button>
                </mat-radio-group>
              <img  alt="" [src]="imageToShow9" />
              <input type="file" name="" id="" (change)="onFileChanged9($event)" class="custom-file-input"  />
            </div>
            <div class="tabularData card">
              <h5>Driving License</h5>
              <mat-radio-group formControlName="Drivinglisence">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No" checked>No</mat-radio-button>
                </mat-radio-group>
              <img  alt="" src='../../assets/images/no-photo.png' />
              <!-- <input type="file" name="" id="" (change)="onFileChanged5($event)" class="custom-file-input"  /> -->
            </div>
            <div class="tabularData card">
              <h5>RC Book</h5>
              <mat-radio-group formControlName="Rcbook">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No" checked>No</mat-radio-button>
                </mat-radio-group>
              <img  alt="" src='../../assets/images/no-photo.png' />
            <!-- <input type="file" name="" id="" (change)="onFileChanged6($event)" class="custom-file-input"  /> -->
            </div>
            <div class="tabularData card">
              <h5>Crash Photo</h5>
              <mat-radio-group formControlName="Crashphotos">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No" checked>No</mat-radio-button>
                </mat-radio-group>
              <img  alt="" src='../../assets/images/no-photo.png' />
            <!-- <input type="file" name="" id="" (change)="onFileChanged7($event)" class="custom-file-input"  /> -->
            </div>
          <div style="text-align: center; margin-top: 50px;">
            <button mat-raised-button  matStepperNext class="primary">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="tenthFormGroup">
        <form [formGroup]="tenthFormGroup">
          <ng-template matStepLabel>Digital Signature</ng-template>
          <div class="tabularData card" style="width:50%; margin-left: 23%;" >
            <h5>Upload Digital Signature</h5>           
            <img  alt="" [src]="imageToShow13" style="min-height: 200px; max-height: 250px; max-width: 400px;" />
            <input type="file" name="" id="" (change)="onFileChanged13($event)" class="custom-file-input"  />
          </div>
          <div  style="text-align: center; margin-top: 50px;">
              <button mat-raised-button  color="primary" (click)="openDialog()">Done</button>
          </div>
        </form>
      </mat-step>

  </mat-horizontal-stepper>
</div>  



