.mat-stepper-horizontal-line{border-top: 0;}
.mat-stepper-horizontal{ padding: 25px; background-color: hsla(0,0%,100%,0.3); border-radius: 6px; min-height: 500px;}
h2{ color: #fff; font-size: 18px;}
.mat-horizontal-stepper-header-container{ background-color: hsla(0,0%,100%,0.6); }
.mat-step-header .mat-step-label, .mat-step-header .mat-step-optional{ color: #6c6d6e!important; }
.mat-step-icon, .mat-step-icon-not-touched{ height: 28px; width: 28px;}
.mat-form-field { width: 40%;  margin: 0 45px;} 
