<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="loader" *ngIf="Loader">
    <mat-spinner [color]="accent"></mat-spinner>
</div>
<div class="container">
  <h2>Create Surveyor</h2>

  <div class="tabularData card">
    <div *ngIf="showSuccess" class="alert success">
      {{successMessage}}
    </div>
    <div *ngIf="showError" class="alert error">
      {{errorMessage}}
    </div>
    <form [formGroup]="myForm" >
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
        <mat-error *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched">Name is required</mat-error>
        <mat-error *ngIf="myForm.controls['name'].hasError('pattern') && myForm.controls['name'].touched">Name should contain string and digits</mat-error>
      </mat-form-field>



      <mat-form-field>
        <input matInput placeholder="email" formControlName="email" required>
        <mat-error *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched">Email is required</mat-error>
        <mat-error *ngIf="myForm.controls['email'].hasError('pattern') && myForm.controls['email'].touched">Please Enter valid email</mat-error>
      </mat-form-field>

      <!-- <mat-form-field>
        <input type="password" matInput placeholder="password" formControlName="password">
        <mat-error *ngIf="myForm.controls['password'].hasError('required') && myForm.controls['password'].touched">Password is required</mat-error>
        <mat-error *ngIf="myForm.controls['password'].hasError('pattern') && myForm.controls['password'].touched">No Whitespace please</mat-error>
      </mat-form-field> -->

      <mat-form-field>
        <input matInput placeholder="Mobile Number" formControlName="MobileNo" required>
        <mat-error *ngIf="myForm.controls['MobileNo'].hasError('required') && myForm.controls['MobileNo'].touched">Mobile Number is required</mat-error>
        <mat-error *ngIf="myForm.controls['MobileNo'].hasError('pattern') && myForm.controls['MobileNo'].touched">Mobile Number Only Digits allowed</mat-error>
        <mat-error *ngIf="myForm.controls['MobileNo'].hasError('minlength') && myForm.controls['MobileNo'].touched">Mobile Number Should be minimum 10 digits</mat-error>
        <mat-error *ngIf="myForm.controls['MobileNo'].hasError('maxlength') && myForm.controls['MobileNo'].touched">Mobile Number Should be maximum 10 digits</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Landline" formControlName="landline">
        <mat-error *ngIf="myForm.controls['landline'].hasError('pattern') && myForm.controls['landline'].touched">Only Digits allowed</mat-error>
      </mat-form-field>

      <!-- <mat-form-field>
        <input matInput placeholder="Area" formControlName="area" required>
      </mat-form-field> -->

      <mat-form-field>
        <input matInput placeholder="City" formControlName="city">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="licenseNo" formControlName="licenseNo">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="LicenceExpiryDate" formControlName="LicenceExpiryDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="GPSCordinates" formControlName="GPSCordinates">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Active" formControlName="active" required>
          <mat-option [value]="true">
            True
          </mat-option>
          <mat-option [value]="false">
            false
          </mat-option>
        </mat-select>
        <mat-error *ngIf="myForm.controls['active'].hasError('required') && myForm.controls['active'].touched">Active is required</mat-error>
      </mat-form-field>

      <div style="text-align: center; margin-top: 50px;">
          <a mat-raised-button style="color: #333;" type="button" routerLink="/surveyor" >Cancel</a>
          <button mat-raised-button color="primary" (click)="onSubmit(myForm.value);" mat-button [disabled]="myForm.invalid">Submit</button>
      </div>
    </form>

  </div>
</div>
<!-- <wizard-selector></wizard-selector> -->
