
<div class="sidebar">
    <ul>
        <li>
            <a routerLink="/dashboard"><i class="material-icons">assignment</i> Dashboard</a>
        </li>

      <li *ngIf="adminMenus">
        <a routerLink="/users"><i class="material-icons">person</i> Users</a>
      </li>

      <li *ngIf="adminMenus">
        <a routerLink="/surveyor"><i class="material-icons">how_to_reg</i> Surveyor</a>
      </li>


      <li *ngIf="adminMenus">
        <a routerLink="/area"><i class="material-icons">place</i> Area</a>
      </li>


      <li *ngIf="adminMenus">
        <a routerLink="/companies"><i class="material-icons">business</i> Companies</a>
      </li>
      <li>
            <a href="#" (click)="logOut();"><i class="material-icons">power_settings_new</i> Logout</a>
        </li>
    </ul>
</div>
