<h2 mat-dialog-title style="color:#000;">Completion Confirmation.</h2>
<form [formGroup]="uploadCrashImageForm">
    <mat-dialog-content>
        <mat-form-field style="display: block;">
            <input matInput placeholder="Enter File Name" formControlName="FileName">
        </mat-form-field>
        <input type="file" (change)="onMultifileChange($event)" class="custom-file-input updatebutton" *ngIf="showUpdateBtn"/>
        <input type="file" (change)="onMultifileChange($event)" class="custom-file-input uploadbutton" *ngIf="!showUpdateBtn"/>
    </mat-dialog-content>
    <mat-dialog-actions style="margin-top:20px; text-align: center; display: block;">
        <button mat-raised-button mat-dialog-close class="smallBtn" (click)="closeDialog()">Cancel</button>
        <button mat-raised-button class="smallBtn" (click)="postMultiImage(uploadCrashImageForm.value)" color="primary">Upload</button>
    </mat-dialog-actions>
</form>