
<div style="clear: both; max-height: 400px; overflow: auto; min-height: 200px;">

  <button mat-raised-button style="float: right;" color="primary" class="customPositoned"  (click)="openImageDialog()" *ngIf="!IsCompleted" [disabled]="showUpdateBtn">Upload Image</button>
  <!-- <button mat-raised-button style="float: right;" color="primary" class="customPositoned"  (click)="openImageDialog()" *ngIf="showUpdateBtn && !IsCompleted">Update Image</button> -->
  <div class="tabularData card" *ngFor="let item of fileList">
    <img alt="" src="http://apiflacorev2.iflotech.in{{item.Image}}" />
    <span>Name: {{item.ImageName}}</span><br/>
    <span>
      <!-- <mat-radio-button name="multiImages" (change)="updateImgRadio(item)" unchecked>Select to Update.</mat-radio-button> -->
      <a href="javascript:void(0);" (click)="updateImgRadio(item)">Change Image</a>
    </span>


  </div>
  <h5 *ngIf="fileList.length < 1" style="text-align: center;">No Photos/Images available !</h5>
</div>



  <div class="backdrop" *ngIf="uploadImageModal">
    <div class="tabularData card smallModal">
      <h2 style="color:#000;">Upload Images</h2>
      <form [formGroup]="uploadCrashImageForm">
        <mat-form-field style="display: block;">
          <input matInput placeholder="Enter Image Name" formControlName="ImageName" (focus)="changeshowfileEmptyMsg()">
        </mat-form-field>
        <input type="file" (change)="onMultifileChange($event)" class="custom-file-input updatebutton" *ngIf="showUpdateBtn" accept="image/gif, image/jpeg, image/png"/>
        <input type="file" (change)="onMultifileChange($event)" class="custom-file-input uploadbutton" *ngIf="!showUpdateBtn" accept="image/gif, image/jpeg, image/png"/>
        <div class="alert error" *ngIf="showfileEmptyMsg">Please Enter Image name & Select only GIF, JPEG and PNG Image/photo.</div>
        <div style="margin-top:20px; text-align: center; display: block;">
          <button mat-raised-button class="smallBtn" (click)="closeImageModal()" color="accent">Cancel</button>
          <button mat-raised-button class="smallBtn" (click)="postMultiImage(uploadCrashImageForm.value)" color="primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
