<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="loader" *ngIf="Loader">
    <mat-spinner [color]="accent"></mat-spinner>
</div>
<div class="container">
  <h2>Area List <a mat-raised-button color="accent" [routerLink] = "['/area/create']" style="float:right">Create Area</a></h2>
  
  <div class="tabularData card">
    <table width="100%" class="table">
      <thead>
      <tr>
        <th>S. No.</th>
        <!-- <th>Area Id</th> -->
        <!-- <th>City Id</th> -->
        <th>City Name</th>
        <th>Area Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let area of TotalDada;let i = index;">
        <td>{{i+1}}</td>
        <!-- <td>{{area.AreaId}}</td> -->
        <!-- <td>{{area.CityId}}</td> -->
        <td>{{area.CityName}}</td>
        <td>{{area.AreaName}}</td>

        <td>
            <mat-chip-list>           
              <mat-chip color="accent" selected="true" (click)="editArea(area.AreaId)">Edit</mat-chip>
              <mat-chip color="warn" selected="true">Delete</mat-chip>
            </mat-chip-list>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <wizard-selector></wizard-selector> -->
