.mat-horizontal-stepper-header{ display: inline-block!important; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0 10px!important;}
.mat-stepper-horizontal-line{border-top-width: 0!important;}
.mat-step-icon, .mat-step-icon-not-touched{ margin: auto; margin-right: auto!important;}