<form [formGroup]="descriptionForm">
    <h4>Animal Description</h4>
    <div class="loader" *ngIf="Loader">
        <mat-spinner [color]="accent"></mat-spinner>
      </div>
    <mat-form-field>
      <input matInput placeholder="Animal Ear Tag No." formControlName="Animal_EarTagNo" (keydown)="specialCharPrevention($event)">
    </mat-form-field>
    <mat-form-field>
      <!-- <input matInput placeholder="Animal Sex" formControlName="Animal_sex" (keydown)="specialCharPrevention($event)"> -->

      <mat-select placeholder="Animal Sex" formControlName="Animal_sex">
        <mat-option *ngFor="let item of GenderArray" [value]="item.name">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Animal Breed" formControlName="Animal_Breed">
        <mat-option *ngFor="let item of animalBread" [value]="item.name">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Animal Color" formControlName="Animal_Color">
        <mat-option *ngFor="let item of bodyColor" [value]="item.name">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Animal Horn Left" formControlName="Animal_HornLeft">
        <mat-option *ngFor="let item of leftList" [value]="item.name">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Animal Horn Right" formControlName="Animal_HornRight">
        <mat-option *ngFor="let item of rightList" [value]="item.name">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Animal Tail" formControlName="Animal_Tail">
        <mat-option *ngFor="let item of tailEnd" [value]="item.name">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Animal Age" formControlName="Animal_Age">
        <mat-option *ngFor="let item of ageList" [value]="item.age">{{item.age}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Mark On Fore Head" formControlName="MarkOnForeHead" (keydown)="specialCharPrevention($event)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Mark On Body" formControlName="MarkOnBody" (keydown)="specialCharPrevention($event)">
    </mat-form-field>


    <div style="text-align: center; margin-top: 50px;">
      <div class="alert success" *ngIf="showSuccess">Data Saved {{successMessage}}fully.</div>
      <div class="alert error" *ngIf="showError">Data Saved {{errorMessage}}.</div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button matStepperNext>Skip</button>
      <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="descriptionSubmit(descriptionForm.value);">Next</button>
    </div>
  </form>
