<header-selector></header-selector>
<sidebar-selector></sidebar-selector>
<div class="loader" *ngIf="Loader">
    <mat-spinner [color]="accent"></mat-spinner>
</div>
<div class="container">
  <h2>Create Company</h2>

  <div class="tabularData card">
    <div *ngIf="showSuccess" class="alert success">
      {{successMessage}}
    </div>
    <div *ngIf="showError" class="alert error">
      {{errorMessage}}
    </div>
    <form [formGroup]="myForm">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" (keypress)="specialCharPrevention($event)">
        <mat-error *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched">Name is required</mat-error>
        <mat-error *ngIf="myForm.controls['name'].hasError('pattern') && myForm.controls['name'].touched">Name should contain string and digits</mat-error>
      </mat-form-field>



      <mat-form-field>
        <input matInput placeholder="Contact" formControlName="Contact" (keypress)="specialCharPrevention($event)">
        <mat-error *ngIf="myForm.controls['Contact'].hasError('pattern') && myForm.controls['Contact'].touched">Only Digits allowed</mat-error>
        <mat-error *ngIf="myForm.controls['Contact'].hasError('minlength') && myForm.controls['Contact'].touched">Should be minimum 10 digits</mat-error>
        <mat-error *ngIf="myForm.controls['Contact'].hasError('maxlength') && myForm.controls['Contact'].touched">Should be maximum 10 digits</mat-error>
      </mat-form-field>



      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address" (keypress)="specialCharPrevention($event)">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="CompanyNos" formControlName="CompanyNos" (keypress)="specialCharPrevention($event)">
      </mat-form-field>



      <mat-form-field>
        <mat-select placeholder="CompanyType" formControlName="CompanyTypeId" >
          <mat-option [value]="1">
            x
          </mat-option>
          <mat-option [value]="2">
            y
          </mat-option>
        </mat-select>
        <mat-error *ngIf="myForm.controls['name'].hasError('required')">Company Type is required</mat-error>
      </mat-form-field>



      <div style="text-align: center; margin-top: 50px; width: 100%; display: inline-block;">
          <a mat-raised-button style="color: #333;" type="button" routerLink="/companies" >Cancel</a>
          <button mat-raised-button color="primary" (click)="onSubmit(myForm.value);" mat-button [disabled]="myForm.invalid">Submit</button>
      </div>
    </form>

  </div>
</div>
<!-- <wizard-selector></wizard-selector> -->
